/* FOOTER */

.footer {
  height: 20.5rem;
  background-color: rgb(238, 241, 247);
  padding: 0 5rem;
  padding-top: 2.25rem;
  position: relative;
}

.footer > div {
  max-width: 1180px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer .header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.footer .header .logo img {
  width: 5.75rem;
}
.footer .header .logo span {
  display: block;
  font-size: 0.75rem;
  margin-left: 1rem;
}

.footer .socials {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.footer nav {
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 2rem;
  gap: 1.5rem;
  align-items: center;
}

.footer .socials img {
  width: 2rem;
}

.footer .copy {
  font-size: 1.25rem;
  border-top: 2px solid rgb(1, 21, 47);
  text-align: center;
  margin-top: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .mascot {
  position: absolute;
  width: 11.3rem;
  bottom: 0;
  left: 8rem;
}

@media (max-width: 1023px) {
  .footer {
    padding: 2rem;
    height: auto;
  }
  .footer .header {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer .logo {
    text-align: center;
  }
  .footer .logo img {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }
  .footer .socials {
    justify-content: center;
    padding: 1rem;
  }
  .footer .copy {
    padding-top: 2rem;
  }
  .footer .mascot {
    position: relative;
    margin: auto;
    left: 0;
    bottom: -2rem;
  }  
}
