/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 5.75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Swiper Home Page */
.swiper-prev-btn,
.swiper-next-btn {
  background: none;
  border: 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.swiper-next-btn {
  right: 0;
  transform: translate(-70%, -50%);
}

.swiper-prev-btn {
  left: 0;
  transform: translate(70%, -50%);
}

.swiper-prev-btn svg,
.swiper-next-btn svg {
  fill: rgb(250, 83, 139);
  height: 2rem;
  width: 2rem;
}

@media (max-width: 1023px) {
  .swiper-next-btn {
    transform: translate(-30%, -50%);
  }
  
  .swiper-prev-btn {
    transform: translate(30%, -50%);
  }
}