/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 5.75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Embla Home Page */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 20%;
}

.embla_prev_btn,
.embla_next_btn {
  background: none;
  border: 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.embla_next_btn {
  right: 0;
  transform: translate(-70%, -50%);
}

.embla_prev_btn {
  left: 0;
  transform: translate(70%, -50%);
}

.embla_prev_btn svg,
.embla_next_btn svg {
  fill: rgb(250, 83, 139);
  height: 2rem;
  width: 2rem;
}

@media (max-width: 1023px) {
  .embla_next_btn {
    transform: translate(-30%, -50%);
  }
  
  .embla_prev_btn {
    transform: translate(30%, -50%);
  }

  .embla__slide {
    position: relative;
    flex: 0 0 50%;
  }
}