.home header {
  width: 100%;
  height: 5.75rem;
  background-color: rgb(1, 21, 47);
  color: #fff;
  position: absolute;
  z-index: 10;
}

.home nav {
  width: 100%;
  padding: 0 4.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;
  gap: 2.5rem;
}


.home nav .logo {
  height: 100%;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Gilroy';
  letter-spacing: 1px;
  line-height: 2rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}

.home nav .logo img {
  height: 100%;
  padding: 0.25rem 0.5rem;
}

.home nav .logo span {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.home section {
  min-height: 100vh;
}

/* HERO */

.home .hero {
  padding-top: 5.75rem;
  background-image: linear-gradient(rgb(24, 42, 66), rgb(1, 21, 47), rgb(1, 21, 47), rgb(1, 21, 47));
  display: grid;
}

.home .hero .content {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.home .hero .content > .shapes {
  width: 20rem;
  position: absolute;
  left: 0;
  top: 0;
}

.home .hero .content > .mascot {
  width: 48.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.home .hero .content {
  padding: 0 14rem;
  padding-top: 5rem;
  color: #fff;
}

.home .hero .content div {
  max-width: 26rem;
  position: relative;
}

.home .hero .content div h1 {
  font-family: 'Gilroy';
  font-size: 5rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  line-height: 4.5rem;
  font-weight: 800;
}

.home .hero .content div p {
  font-family: 'Roboto';
  letter-spacing: 0;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: 5rem;
}

/* ABOUT */

.home .about {
  position: relative;
  min-height: 100%;
}

.home .about .shapes {
  position: absolute;
  top: -1px;
  left: 0;
  width: 21.4rem;
}

.home .about .mascot {
  width: 100%;
  max-width: 31.25rem;
  margin-top: auto;
}

.home .about .banner {
  position: absolute;
  right: 0;
  bottom: 1.5rem;
  width: 40.2rem;
}

.home .about .content {
  display: grid;
  min-height: 46.6rem;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 1.4rem 2rem;
  margin: auto;
  max-width: 992px;
}

.home .about .content > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 8.125rem;
}

.home .about .content p {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.home .ecosystem h1 {
  font-family: 'Gilroy';
  font-size: 3.3125rem;
  font-weight: 800;
  width: 100%;
  height: 11rem;
  max-width: 80.5rem;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid rgb(1, 21, 47);
}

.home .ecosystem .images_container {
  height: 7.6rem;
  background-color: rgb(1, 21, 47);
}

/* CALENDAR */

.home .calendar {
  padding: 5.5rem 4.75rem;
}

.home .calendar table {
  width: 100%;
  color: rgb(1, 21, 47);
  padding-bottom: 2rem;
  background-color: rgb(238, 241, 247);
}

.home .calendar table thead th div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 6px);
  transform: translate(-4px, -5px);
  background-position: center;
  background-size: cover;
  height: 7.75rem;
  gap: 1rem;
  color: #fff;
  background-image: url('/assets/home-airdrop-banner.svg');
  font-size: 2.875rem;
}

.home .calendar table thead th div img {
  height: 3.125rem;
}

.home .calendar table tbody div {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  height: 10.25rem;
  border-bottom: 1px solid rgb(196, 201, 206);
}

.home .calendar table tbody div::after {
  content: '';
  position: absolute;
  height: 7rem;
  width: 1px;
  background-color: rgb(1, 21, 47);
  right: 0;
}

.home .calendar table tbody .value div::after {
  content: none;
}

.home .calendar table tbody .date div {
  font-size: 4.8rem;
  font-weight: 700;
  margin-left: 3.75rem;
}

.home .calendar table tbody .date {
  width: 21.5rem;
}

.home .calendar table tbody .value div,
.home .calendar table tbody .name div {
  font-size: 2.5rem;
  padding: 0 3rem;
  font-weight: 700;
}

.home .calendar table tbody .value div {
  margin-right: 3.75rem;
}

/* NEWS */

.home .news {
  background-color: rgb(1, 21, 47);
  padding-top: 4.5rem;
  padding-bottom: 8.5rem;
  color: #fff;
}

.home .news .header h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}

.home .news .header img {
  width: 100%;
  max-width: 6.5rem;
  display: block;
  margin: 2.75rem auto;
}

.home .news .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  max-width: 1120px;
  padding: 0 2.5rem;
}

.home .news .content .left {
  padding-right: 2rem;
}

.home .news .content .left img {
  width: 100%;
  height: auto;
  max-width: 32.8rem;
  max-height: 21.25rem;
  display: block;
}

.home .news .content .left span {
  display: block;
  font-size: 1.1875rem;
  color: rgb(250, 83, 139);
  margin-top: 1rem;
}

.home .news .content .left h1 {
  margin: 1rem 0;
  font-size: 3.875rem;
}

.home .news .content .left p {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
}

.home .news .content .left button {
  width: 12rem;
  height: 3rem;
  background-color: rgb(250, 83, 139);
  color: rgb(1, 21, 47);
  font-size: 1.375rem;
  font-weight: 700;
  border: 0;
  margin-left: auto;
  display: block;
  margin-top: 4rem;
  cursor: pointer;
}

.home .news .content .rigth {
  padding-left: 2rem;
  border-left: 1px solid rgb(196, 201, 206);
}
.home .news .content .rigth .post {
  display: flex;
}

.home .news .content .rigth .post .post_content {
  margin-left: 1rem;
}


.home .news .content .rigth .post img {
  width: 12.125rem;
  height: 9.125rem;
}

.home .news .content .rigth .post span {
  display: block;
  font-size: 0.875rem;
  color: rgb(250, 83, 139);
}

.home .news .content .rigth .post h1 {
  margin: 0.5rem 0;
  font-size: 2.875rem;
}

.home .news .content .rigth .post p {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.home .news .content .rigth .post {
  border-bottom: 1px solid rgb(196, 201, 206);
  padding: 2rem 0;
}

.home .news .content .rigth .post:first-child {
  padding-top: 0;
}

/* FOOTER */

.home footer {
  height: 20.5rem;
  background-color: rgb(238, 241, 247);
  padding: 0 8rem;
  padding-top: 2.25rem;
  position: relative;
}

.home footer .header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.home footer .header .logo img {
  width: 5.75rem;
}
.home footer .header .logo span {
  display: block;
  font-size: 0.75rem;
  margin-left: 1rem;
}

.home footer .socials {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.home footer nav {
  font-size: 1.125rem;
  font-weight: 400;
  justify-content: center;
  padding: 0;
}

.home footer .socials img {
  width: 2rem;
}

.home footer .footer {
  font-size: 1.25rem;
  border-top: 2px solid rgb(1, 21, 47);
  margin-top: 3rem;
  padding: 0;
  padding-top: 3rem;
  text-align: center;
}

.home footer .mascot {
  position: absolute;
  width: 11.3rem;
  bottom: 0;
  left: 8rem;
}

@media (max-width: 1023px) {
  .home {
    display: none;
  }
}