.container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container article {
  padding: 2rem;
  padding-top: 13.25rem;
  max-width: 960px;
  margin: auto;
}

.container article h1 {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.container article .date {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  color: rgb(250, 83, 139);
  display: block;
}

.container article img {
  width: 100%;
}
.container article img.featured {
  margin-bottom: 2.5rem;
}


.container article p {
  line-height: 2rem;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.container article a {
  color: rgb(250, 83, 139);
}

.container article iframe {
  display: block;
  margin: auto;
  margin-bottom: 2.5rem;
  max-width: 100%;
}

.container article ol,
.container article ul {
  margin-left: 1rem;
  line-height: 2rem;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.container article pre code {
  background: 0 0;
  white-space: pre;
  display: block;
  max-width: 100%;
  min-width: 100px;
  font-size: 1rem;
  padding: 15px 20px 12px 22px;
  background-color: #1b1b1b;
  color: #fff;
  line-height: 1.75;
  margin-bottom: 2.5rem;
}

.container article blockquote {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  border-left: 5px solid #fa538b;
  font-style: italic;
  padding: 0.75rem 1.75rem;
}
.container article blockquote * {
  margin-bottom: 0;
}


@media (max-width: 1023px) {
  .container article {
    padding: 1.5rem;
    padding-top: 8rem;
  }
  .container article h1 {
    font-size: 2.25rem;
  }

  .container article p {
  }
  
}